.portfolio {
  padding: 0 70px 125px;
}

.portfolio__title {
  color: #a0a0a0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 50px;
}

.portfolio__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.portfolio__links-item {
  padding: 20px 0 19px;
  border-bottom: 1px solid #e8e8e8;
}

.portfolio__links-item:first-child {
  padding-top: 0;
}

.portfolio__links-item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.portfolio__link {
  display: block;
  text-decoration: none;
  background: url(../../../images/link_logo.svg) no-repeat 100%;
  color: black;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  transition: all 0.3s ease-out;
}

.portfolio__link:hover {
  opacity: 0.7;
  transform: scale(0.99);
}

@media (max-width: 900px) {
  .portfolio {
    padding: 0 50px 90px;
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 50px;
  }
}

@media (max-width: 550px) {
  .portfolio {
    padding: 0 14px 70px;
  }

  .portfolio__title {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
    background-size: 10px;
  }
}
