.saved-movies {
  min-height: 458px;
  padding: 70px 70px 140px;
}

@media (max-width: 900px) {
  .saved-movies {
    padding-left: 30px;
		padding-right: 30px;
  }
}

@media (max-width: 450px) {
  .saved-movies {
    padding-left: 10px;
		padding-right: 10px;
  }
}
