.header {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  min-height: 74px;
  padding: 0 70px;
}

.header_hidden {
  display: none;
}

.header-page__main {
  background-color: #dddee3;
}

.header-page__auth {
  width: 396px;
  margin: 0 auto;
  padding: 70px 0 40px;
  box-sizing: border-box;
}

@media (max-width: 770px) {
  .header {
    padding: 0 30px;
  }

  .header-page__auth {
    padding: 232px 0 40px;
  }
}

@media (max-width: 450px) {
  .header {
    padding: 0 14px;
  }

  .header-page__auth {
    width: 260px;
    justify-content: center;
    padding-top: 56px;
    padding-bottom: 50px;
  }
}
